<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Teacher List</title>
</head>
<body>
    <div class="container">
        <h1>Teacher Information Table</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Major</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher : ${teachers}">
                    <td th:text="${teacher.id}"></td>
                    <td th:text="${teacher.name}"></td>
                    <td th:text="${teacher.major}"></td>
                    <td>
                        <a th:href="@{'/teacher/'+${teacher.id}}" class="btn-edit">Student List</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>